{% extends 'base.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-lg-8">
            <div class="card-body">
                <h3 class="card-title mb-1">{{ ticket.title }}</h3>
                <p class="card-text"><em>{{ ticket.description }}</em></p>

                <p class="card-text"><small class="text-muted">{{ ticket.createdTimestamp }}</small></p>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card-body p-4 p-md-5">
                <form class="px-md-2" method="post" action="{{ path("ticket_message_create") }}">

                    <div class="form-outline mb-4">
                        <label class="form-label" for="content">Message</label>
                        <input type="text" id="content" name="content" class="form-control md-textarea" />
                    </div>

                    <input type="hidden" id="ticket_id" name="ticket_id" value="{{ ticket.id }}" />

                    <button type="submit" class="btn btn-sm btn-success btn-lg mb-1">Send</button>
                </form>

                <form class="px-md-2" method="post" action="{{ path("ticket_close", {"id": ticket.id }) }}">

                    <input type="hidden" id="ticket_id" name="ticket_id" value="{{ ticket.id }}" />
                    <button type="submit" class="btn btn-sm btn-danger btn-lg mb-1">Close</button>
                </form>

                <p class="text-muted text-center mb-0 px-md-2 small">You can find the previous converstation below.</p>

            </div>
        </div>

        <div class="col-md-8">
            <div class="list-group">
                {% for message in messages %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ message.user.name }}</h5>
                        </div>
                        <p class="mb-1">{{ message.content }}</p>
                        <small>{{ message.createdTimestamp }}</small>

                        {% if logged_in is defined and logged_in is same as(true) and admin is defined and admin is same as(true) %}
                        <form method="post" action="{{ path("ticket_message_delete", {"id": message.id}) }}">
                            <input type="hidden" id="ticket_id" name="ticket_id" value="{{ ticket.id }}" />

                            <div class="d-grid d-md-flex justify-content-md-end">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </div>
                        </form>
                        {% endif %}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
