{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<br>

<div class="container">
    <div class="row g-3 align-items-center">
        <div class="col-md-12 align-items-center">
            <div class="card">
                <div class="card-body">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('info') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="align">
                        {{ form_start(formItem) }}
                        {{ form_widget(formItem) }}
                        {{ form_end(formItem) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
